# ---- BANCO DE DADOS (CSV) ----
DATABASE_URL=link_do_seu_arquivo_csv

# ---- IA (OpenAI) ----
OPENAI_API_KEY=coloque_sua_chave_aqui
OPENAI_MODEL=coloque_o_modelo_openai

# ---- Caminhos de dados ----
RAW_DATA_PATH=data/raw/WB_EDSTATS_WIDEF.csv
PROCESSED_PATH=data/processed/

# ---- Parametros globais ----
DEFAULT_COUNTRIES=paises_nome
DEFAULT_INDICATORS=indicadores_internacionais_avaliativos_educacao